*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



ul li{
    list-style: none;
}
a{
    text-decoration: none;
}

/* Index page style */
/* Header section */
header{
    width: 100%;
    min-height: 66px;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 0 30px;

    position: absolute !important;
    top: 0 !important;
    z-index: 5;
}
header ul {
    position: relative;
}
header ul li{
    position: relative;
}
header nav ul li{
    list-style: none;
    /* margin-right: 20px; */
}

header nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 38px 3px 5px 3px;
    margin: 0 12px 17px 12px;
    color: #4b4e53;
    letter-spacing: 2px;
    line-height: 20px;
    font-size: 14px;
}

header ul li ul{
    position: absolute;
    left: 0;
    width: 220px;
    background-color: #4b4e53;
    display: none;
    height: auto;
    top: 50px;
    padding: 10px 0 !important;
}

header ul li:hover > ul{
    display: block;
}

header ul li ul li{
    position: relative;
    width: 100%;
    padding: 9px;
    margin: 0 !important;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
}


header ul li ul li a{
    color: #d3d3d3;
    transition: color .2s ease 0s,padding .3s ease 0s;
    padding: 0px 3px 5px 3px;
    margin: 0 12px 0px 12px;
    font-size: 12px;
}

header ul li ul li a:hover{
    color: #fff;
    padding-left: 7px;
}

header ul li ul li ul{
    top: 5px;
    left: 220px;
    display: none;
}
.responsive-menu{
    display: none;
}
.search i{
    position: relative;
    width: 44px;
    height: 44px;
    /* overflow: hidden; */
    /* white-space: nowrap; */
    /* color: transparent; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    color: #4b4e53;
}
@media screen and (max-width:900px) {
    header{
        padding: 10px 20px;
    }
    header nav{
        position: absolute;
        width: 100%;
        left: 0;
        background-color: #445964;
    }
    .header-container{
        flex-direction: column;
    }
    header nav ul{
        flex-direction: column;
    }
    header nav ul li{
        width: 100%;
    }
    header nav ul li ul{
        position: relative;
        width: 100%;
    }
    header nav ul li ul li ul{
        top: 0;
        left: 0;
    }
   
    .responsive-menu{
        display: block;
    }
    .menuToggle nav{
        top: 66px;
    }
}

.logo img{
    height: 42px;
    margin: 30px 0;

}

.nav-active{
    border-bottom: 2px solid #2d4e53;
}

.label-new{
    margin-left: 5px;
    background-color: #fde801;
    color: #2a2b2f!important;
    -webkit-transition-property: all!important;
    -o-transition-property: all!important;
    transition-property: all!important;
    padding: 4px 6px 4px 5px;
    font-size: 9px;
    font-weight: 700;
    line-height: 21px;
}

.big-menu{
    position: absolute;
    width: 1000px;
    left: 0;
}


.nav ul li a:hover .big-menu{
    width: 97.4%;
    display: block;
    position: absolute;
    background-color: #1b1a1a;
    padding: 10px 80px;
    height: auto;
    left: 20px;
}


.slider-banner{
    width: 100%;
    height: 100%;
}


.slider-1{
    background-image: url("http://abcgomel.ru/haswell/images/revo-slider/slide_1_1.jpg");
}

.slider-2{
    background-image: url("http://abcgomel.ru/haswell/images/revo-slider/slide_1_2.jpg");
}
.slider-3{
    background-image: url("http://abcgomel.ru/haswell/images/revo-slider/slide_1_3.jpg");
}

.slider-content{
    position: absolute;
    z-index: 124;
    right: 15%;
    top: 30%;
}

.slider-content3{
    right: 18%;
}

.slider-item{
    position: relative;
}

.slider-item img{ 
    position: relative;
    z-index: 5;
}

.slider-content h1{
    white-space: nowrap;
    transition: all 0s ease 0s;
    line-height: 80px;
    letter-spacing: 7px;
    visibility: visible;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 50, 0, 1);
    font-weight: 300;
    color: #4b4e53;
    font-family: Lato,Arial,Helvetica,sans-serif;
    font-size: 54px;
    font-weight: 300;
    text-transform: uppercase;
}

.slider-content h1 span{
    font-weight: 900;
}

.slider-content p{
    margin-top: 60px;
}

.button-grey{
    color: #fff;
    background-color: #535961;
    padding: 10px 37px 10px 37px;
    display: inline-block;
    border: none;
    border-radius: 2px;
    transition: all .3s ease 0s;
    outline: none;
    position: relative;
    text-transform: uppercase;
    margin-right: 15px;
}

.button-grey:hover{
    color: #fff;
    background-color: #000;
}

.button-transparent{
    color: #7a7b80;
    border: 2px solid #c5c2c2 !important;
    background-color: transparent;
    padding: 10px 37px 10px 37px;
    display: inline-block;
    border: none;
    border-radius: 2px;
    transition: all .3s ease 0s;
    outline: none;
    position: relative;
    text-transform: uppercase;
}

.button-transparent:hover{
    background-color: #4b4e53!important;
    border: 2px solid #4b4e53!important;
    color: #fff!important;
}

.slider-content h2{
    white-space: nowrap;
    transition: all 0s ease 0s;
    min-height: 0px;
    min-width: 0px;
    line-height: 90px;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    font-size: 95px;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 47.5714, 0, 1);
    font-weight: 300;
    color: #4b4e53;
    font-family: Lato,Arial,Helvetica,sans-serif;
}
.slider-content h2 span{
    font-weight: 900;

}

.slider-content3 p{
    transition: all 0s ease 0s;
    line-height: 18px;
    font-size: 18px;
    visibility: visible;
    color: #4b4e53;
    font-family: Lato,Arial,Helvetica,sans-serif;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 50, 0, 1);
    margin-top: 30px !important;
}


/* We are creative section */

.we-are-creative{
    padding-top: 130px;
    padding-bottom: 110px;
}

.creative-title h1{
    color: #4b4e53;
    font-family: Lato,Arial,Helvetica,sans-serif;
    font-size: 60px;
    line-height: 60px;
    font-weight: 300;
    margin: 30px 0 40px 0;
    text-transform: uppercase;
}

.creative-title h1 span{
    font-weight: 700!important;
}

.line{
    margin-top: 15px;
    height: 3px;
    width: 100px;
    background: #4b4e53;
}

.creative-item-left i{
    color: #4b4e53;
    font-size: 35px;
    padding-right: 20px;
}

.creative-item-right h3{
    color: #4b4e53;
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-transform: uppercase;
}

.creative-item-right p{
    margin: 0 0 20px;
}

/* More than responsive section */
.more-than-responsive{
    border-top: 1px solid #c5c2c2;
    border-bottom: 1px solid #c5c2c2;
}
.right-img img{
    width: 100%;
    height: 400px;
}

.responsive-left-content{
    margin: 0 auto;
    padding: 145px 50px 140px 50px;
    max-width: 500px;
}

.responsive-left h1{
    color: #4b4e53;
    font-family: Lato,Arial,Helvetica,sans-serif;
    font-size: 45px;
    line-height: 45px;
    font-weight: 300;
    text-transform: uppercase;
}

.responsive-left h1 span{
    font-weight: 700;
}

.responsive-left p{
    margin-top: 30px;
    font-family: Lato,Arial,Helvetica,sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: 300;
}

.right-img{
    background: url("../img/responsive-1.jpg") 50% 50% no-repeat;
    width: 100%;
    display: block;
    position: relative;
    background-size: cover;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Our Services section */

.our-services{
    padding: 130px 150px 50px 150px ;
}

.section-title h1{
    margin: 0;
    padding: 22px 25px 24px 25px;
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    color: #4b4e53;
    border-left: #4b4e53 2px solid;
    text-transform: uppercase;
}

.section-title h1 span{
    font-weight: 700;
}

.service-item-left i{
    font-size: 45px;
}

.service-item-right h3{
    font-size: 18px;
    margin: 0;
}

.service-item-right p{
    font-size: 14px;
    line-height: 25px;
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
    font-weight: 400;
    color: #7e8082;
}

.service-item-bottom p{
    font-size: 14px;
    line-height: 25px;
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
    font-weight: 400;
    color: #7e8082;
}

.our-services-item{
    margin-bottom: 75px;
}

/* Projects section style */
/* .projects{
    padding-bottom: 80px;
} */

.project--img{
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    margin-bottom: 15px;
}
.project-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    transition: all .3s ease 0s;
}

.project-img img{
    width: 100%;
    height: 100%;
    transition: all .3s ease 0s;
    
}
.project-img:hover{
    transform: scale(1.3);
    cursor: pointer;
}

.project-item{
    padding-left: 0 !important;
}

.project-overlay{
    display: none;
}

.project-img:hover .project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff ;
}

.project-img:hover .project-overlay .project-overlay-top h3 a{
    position: absolute;
    top: 60px;
    left: 80px;
}

.project-overlay-top h3{
    margin: 0;
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
}

.project-overlay-content{
    padding: 50px;
}

.project-overlay-top h3 a{
    font-size: 13px !important ;
    color: #bebebe;
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease 0s;
    cursor: pointer;
}
.project-overlay-top h3 a:hover{
    color: #fff;
}

.project-img:hover .project-overlay .project-overlay-top span a{
    top: 82px;
    left: 80px;
    position: absolute;
    color: #bebebe;
    font-size: 10px !important;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .3s ease 0s;
    cursor: pointer;
}

.project-img:hover .project-overlay .project-overlay-top span a:hover{
    color: #fff;
}

.project-img:hover .project-overlay .overlay-bottom{
    top: 105px;
    left: 80px;
    position: absolute;
    color: #bebebe;
    font-size: 10px !important;
    text-transform: uppercase;
    text-decoration: none;
}

.project-img:hover .project-overlay .overlay-bottom a{
    font-size: 15px;
    color: #bebebe;
    transition: all .3s ease 0s;
    cursor: pointer;
}
.project-img:hover .project-overlay .overlay-bottom a:hover{
color: #fff;
}
.search-link{
    margin-right: 5px;
}

/* .project-img:hover .project-overlay .overlay-bottom .search-link{
    margin-right: 10px !important;
} */

.view-more{
    background: #eee;
   
    display: flex;
    align-items: center;
    justify-content: center;
}
.view-more a:hover{
    background: #dedede;
    color: #4b4e53;
}

.view-more a{
    width: 100%;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 37px;
    display: block;
    background: #eee;
    font-family: Lato,Arial,Helvetica,sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: 100;
    transition: all .3s ease 0s;
    text-decoration: none;
    color: #4b4e53;
    text-transform: uppercase;
    transition: all .3s ease 0s;
}


/* Our clients section */
.our-clients{
    padding: 110px 160px;
}
.client-row img {
    height: 100px;
}

.our-clients-title{
    margin-bottom: 50px;
}

.client-row .col-sm-3:first-child {
    border-left: none;
}

.client-row .col-sm-3{
    padding-top: 20px;
    padding-bottom: 20px;
    border-left: 1px solid #eee;
}

.border-bot{
    border-bottom: 1px solid #eee;
}

.quote p {
    margin-bottom: 24px;
    color: #4b4e53;
    font-family: Lato,Arial,Helvetica,sans-serif;
    font-size: 21px;
    line-height: 32px;
    font-weight: 100;
    font-style: normal;
}

.quote {
    padding: 10px 20px 10px 50px;
}

.quote footer{
    font-size: 14px;
    color: #7e8082;
    font-style: normal;
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
    line-height: 1.42857143;
    font-weight: 100;
}

footer::before{
    content: '\2014 \00A0';
}

/* Work process section */
.work-process{
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}

.work-proc-1-bg {
    margin: 0;
    padding: 0;
    background: #2c2c2c url("../img/work-proc-bg.jpg") fixed;
    color: #f1f1f1;
    width: 100%;
    height: auto;
    z-index: -1;
}

.fes4-cont{
    padding: 130px 0 80px 0;
}

/* .work-process-content{
    z-index: 10;
    position: relative;
} */

.work-process-section-title h1{
    color: #fff !important;
    border-left: #fff 2px solid;
}
.mb-50{
    margin-bottom: 50px;
}

.col-lg-offset-1{
    margin-left: 8.33333333%;
}

.process-left i{
    font-size: 45px;
}

.process-right h1{
    color: #f1f1f1;
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
    font-size: 18px;
    margin: 0;
    font-weight: 700;
    margin-bottom: 6px;
}

.process-right p{
    color: #d3d4d5;
    font-size: 14px;
    line-height: 25px;
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
    font-weight: 400;
    margin: 0;
}

.process-items{
    margin-bottom: 60px;
}

/* Our Team section */

.our-team{
    padding: 100px 160px 0 160px;
    background: #f4f4f4;

}

.mb-40{
    margin-bottom: 40px;
}

/* Optimized mobile section */
.optimized-row{
    padding: 50px 0 45px 0;
}

.bold {
    font-weight: 700!important;
}










